body {
  background-color: white;
}

.application {
  --ehoi-primary: var(--special-color, #057a93);
  --ehoi-interact: #046276;
  --ehoi-green: #398339;
  --ehoi-secondary: #b81942;
  --ehoi-bg: white;
  --ehoi-alternative-bg: #f5f5f5;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: black;
  background-color: white;
  padding-block: 1rem;
  width: 350px;
  margin: 0 20px;
  max-width: 1280px;
  overflow-y: scroll;
}
.content::-webkit-scrollbar {
  display: none;
}

header {
  padding: 12px 20px;
  background-color: var(--ehoi-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: var(--ehoi-bg);
}

h1,
h2,
p {
  margin: 0;
}

.reload {
  font-size: 0.65rem;
  color: var(--ehoi-bg);
  transition: all 0.3s ease;
  transform-origin: center;
  padding: 2px 4px;
  border-radius: 0;

  &:hover {
    cursor: pointer;
    color: var(--ehoi-bg);
    background-color: var(--ehoi-interact);
  }
}

.package {
  &[data-active="true"] > .package-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .package-title {
    font-size: 0.8rem;
    background-color: var(--ehoi-primary);
    color: white;
    padding: 6px 12px;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      background-color: var(--ehoi-interact);
    }
  }

  .package-content {
    display: none;
    font-size: 0.75rem;
    padding: 6px 0 0 18px;
    border-left: 1px solid var(--ehoi-primary);

    .package-content-pair {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.copy-button {
  background-color: var(--ehoi-bg);
  border: 1px solid var(--ehoi-secondary);
  outline: none;
  transition: all 0.3s ease;
  color: var(--ehoi-secondary);
  border-radius: 0;

  &:hover {
    border-color: var(--ehoi-secondary);
    background-color: var(--ehoi-secondary);
    color: var(--ehoi-bg);
  }

  &[data-copied="true"] {
    color: var(--ehoi-bg);
    border: 1px solid var(--ehoi-green);
    background-color: var(--ehoi-green);
    &:hover {
      border: 1px solid var(--ehoi-green);
      background-color: var(--ehoi-green);
    }
  }
}

.footer {
  background: var(--ehoi-alternative-bg);
  color: var(--ehoi-primary);
  width: 100%;
  padding: 8px 6px;
  text-align: center;

  .footer-cta {
    border: none;
    background: var(--ehoi-alternative-bg);
    color: var(--ehoi-primary);
    font-weight: bold;
    border-radius: 0;

    &:hover {
      color: var(--ehoi-interact);
    }
  }
}
